.add-more, .google-plus, .facebook, .linkedin, .Twitter_alt_4, .linkedin-sm, .twitter-sm, .facebook-sm, .google-plus-sm{
	background: url(sprites.png) no-repeat;
}

.add-more{
	background-position: -80px -45px ;
	width: 20px;
	height: 20px;
}

















