

.alert {
    color: red;
    font-weight: bold;
}

.ok {
    font-weight: bold;
}

.new {
    color: green;
    font-weight: bold;
}

form {
    padding: 15px;
    width: 500px;
    line-height: 40px;
}

fieldset {
    border-radius: 10px;
}

legend {
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

input, select {
    width: 150px;
    font-size: 15px;
}

button {
    margin-top: 10px;
    height: 40px;
    width: 320px;
}


